.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  width: 98%;
}

.header h2 {
  color: white;
  font-size: x-large;
}

.raceDetailsContainer {
  overflow: auto;
  height: 40rem;
}

.raceContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  height: 12rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}