.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.loadingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingContainer p {
  color: white;
  font-size: xx-large;
}