.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(24, 18, 20);
  height: 5rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
  padding: 1rem 0 0 1rem;
}

.header h1 {
  margin-left: 1rem;
  font-style: italic;
}

.logo {
  height: 100%;
  width: 10rem;
}

.logo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}